<script>
    function fillData(){
        if("@ViewBag.FromCurrency" != null){
            document.getElementById("selFromCurrency").value = "@ViewBag.FromCurrency";
        }
        if ("@ViewBag.Amount" >= 0) {
            document.getElementById("txtAmount").value = "@ViewBag.Amount";
        }
        
        
    }
    </script>
<body onload="fillData()">
<form action="/CurrencyConverter/CurrencyConvertorV2" method="post">
    <table align="center" border="1">
        <tr>
            <td colspan="2" align="center">
                <b>Currency Converter to MMK Ver2</b>
            </td>
        </tr>
        <tr>
            <td>
                Choose Currency:
            </td>
            <td>
                    <select name="fromCurrency" id="selFromCurrency">
                    <option value="">--Select One--</option>
                    <option value="usd">USD Dollar</option>
                    <option value="sgd">Singapore Dollar</option>
                    <option value="tbh">Thai Baht</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" name="amount" id="txtAmount"/></td>
        </tr>
        <tr>
            <td>
                Result (MMK):
            </td>
            <td><input type="number" value="@ViewBag.Result" readonly /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Convert" />
            </td>
        </tr>
        <tr><td colspan="2" align="center"><span style="color:red;text-align:center"><b>@ViewBag.msg</b></span></td></tr>
    </table>
</form>
</body>